<% @cart.orderables.each do |orderable| %>
  <% product = orderable.product %>
  <div id="<%= "cart-#{product.id}" %>">
    <p><%= image_tag product.image.variant(resize_to_limit: [285, 285]).processed %></p>
    <p><%= link_to product.name, product %></p>
    <p>Price: $<%= product.price %></p>
    <p>Description: <%= product.description %></p>
    <%= form_with(url: cart_add_path) do |f| %>
      <%= f.hidden_field :id,value: product.id %>
      <%= f.number_field :quantity, value: orderable.quantity, min: 0 %>
      <%= f.submit 'Update Cart' %>
    <% end %>
        id    <%= product.id %>
          order  <%= orderable.id %>
    <%= form_with(url: cart_remove_path) do |f| %>
      <%= f.hidden_field :id,value: orderable.id %>
      <%= f.submit 'X' %>
    <% end %>

    <strong>Total</strong>
    <%= orderable.total %>
        <button
      class="px-3 py-4 bg-indigo-600 block w-full text-center rounded font-bold text-white shadow-sm"
    >
      Purchase!
    </button>
  </div>
<% end %>