<h1>Your Cart</h1>
<% @cart.orderables.each do |orderable| %>
<strong>  <% product = orderable.product %></strong>
     <strong> <p><%= image_tag product.image.variant(resize_to_limit: [285, 285]).processed %></p></strong>
<strong>  <p><%= product.name %> * <%= orderable.quantity %> = $<%= product.price * orderable.quantity %></p></strong>
<% end %>
<strong><p>Your total is $<%= @cart.total %> </p></strong>