
<div>
<h1>Checkout</h1>
<% @cart.orderables.each do |orderable| %>
<strong>  <% product = orderable.product %></strong>
     <strong> <p><%= image_tag product.image.variant(resize_to_limit: [285, 285]).processed %></p></strong>
<strong>  <p><%= product.name %> * <%= orderable.quantity %> = $<%= product.price.to_i * orderable.quantity %></p></strong>
<% end %>
<% taxes = (current_user.province.gst + current_user.province.hst + current_user.province.pst) %>
  <br/>
  <p>Before Taxes: <%= number_to_currency(@cart.total.to_i) %></p>
<br/>
<p>We will ship it to: </p>
<p><%= current_user.first_name %> <%= current_user.last_name %></p>
<p><%= current_user.address %></p>
<p><%= current_user.province.name %></p>
<p><%= current_user.city %></p>
<p>Canada</p>
<br/>
<p>Taxes: <%= number_to_currency(taxes_s = @cart.total.to_i * taxes) %></p>
<strong><p>Your total is <%= number_to_currency(taxes_s + @cart.total.to_i) %></p></strong>
<div style = 'text-align: center'><%= render partial: 'pay/stripe/checkout_button', locals: {
  session: @checkout_session,
  title: 'Go to pay!'
} %></div>
</div>