
<h1>Products#index</h1>
<%# <div class = 'disp'> %>
  <% @products.each do |product| %>
    <p><%= image_tag product.image.variant(resize_to_limit: [285, 285]).processed %></p>
    <p><%= link_to product.name, product %></p>
    <p>Price: $<%= product.price %></p>
    <p>Description: <%= product.description %></p>

         <p>
          <%= hidden_field_tag(:id,product.id) %>
        <% if cart.include?(product) %>
          <%= link_to cart_path(product),data: { turbo_method: :delete } do %>
            Remove from cart
          <% end %>
        <% else %>
          <%= form_with url: cart_index_path, data: { turbo_method: :post }  do %>
            <%= hidden_field_tag(:id, product.id) %>
            <p><%= link_to 'Add to cart ✅' %></p>
          <% end %>
        <% end %>
        </p>
          <% end %>

<p>There are <%= @products.count %> products on this site.</p>
  <div class = 'smaller'><%=paginate @products%></div>
  <%# <%= render partial: 'products/products',
             collection: @products,
             locals: { show_link: false } %> %>