
<h1>Products#index</h1>

<%# <div class = 'disp'> %>
  <% @products.each do |product| %>
<div style="display:flex;max-width: 1050px;justify-content: space-between;margin: auto;">
    <div><%=  image_tag product.image.variant(resize_to_limit: [285, 285]).processed %></div>
    <div style = 'width: 800px; align-items: center;margin-left:50px'>
    <p><%= link_to product.name, product %></p>
    <p>Price: $<%= product.price %></p>
    <p>Description: <%= product.description %></p>
    <div style = 'max-width: 800px'>
         <%# <div style = 'max-width: 800px;'> %>
         <p>
          <%= form_with(url: cart_add_path) do |f| %>
          <%= f.hidden_field :id,value: product.id %>
          <%= f.number_field :quantity, value: 0, min: 1 %>
          <%= f.submit 'Add to Cart' %>
          <%= product.id %>
          <p>here you are in index</p>
        <% end %>
        </p>
        <%# </div> %>
    </div>
    </div>
</div>
  <% end %>
<p>There are <%= @products.count %> products on this site.</p>
  <div class = 'smaller'><%=paginate @products%></div>
  <%# <%= render partial: 'products/products',
             collection: @products,
             locals: { show_link: false } %>