
<h1>Products#index</h1>
<%# <div class = 'disp'> %>
  <% @products.each do |product| %>
    <p><%= image_tag product.image.variant(resize_to_limit: [285, 285]).processed %></p>
    <p><%= link_to product.name, product %></p>
    <p>Price: $<%= product.price %></p>
    <p>Description: <%= product.description %></p>
          <%= form_with(url: cart_add_path) do |f| %>
          <%= f.hidden_field :id,value: product.id %>
          <%= f.number_field :quantity, value: 0, min: 1 %>
          <%= f.submit 'Add to Cart' %>
          <%= product.id %>
          <p>here you are</p>
        <% end %>
  <% end %>

<p>There are <%= @products.count %> products on this site.</p>
  <div class = 'smaller'><%=paginate @products%></div>
  <%# <%= render partial: 'products/products',
             collection: @products,
             locals: { show_link: false } %>