<h1>Products#show</h1>
<p>Name: <%= @product.name %></p>
<p>Description: <%= @product.description %></p>
<p>Price: $<%= @product.price %></p>
<p>Category: <%= @product.category.name %></p>
<p><%= image_tag @product.image.variant(resize_to_limit: [285, 285]).processed %></p>
